<section
  class="tab {{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if itemsToDisplay.length}}
    {{#each itemsToDisplay as |category|}}
      <div class="inventory-category {{#if category.locationBuckets.length}}inventory-category--gear-locations{{/if}}">
        {{#if category.locationBuckets.length}}
          {{#each category.locationBuckets as |location|}}
            <div class="inventory-location" style="grid-area: {{location.id}};">
              <h2 class="inventory-location__title">
                <span class="inventory-location__label">
                  {{localize location.label}}
                </span>
                {{#if (and (ne location.loadLimit null) (or (eq location.loadType "packLoad") (eq location.loadType "hands")))}}
                  <span class="inventory-location__load {{#if location.overburdened}}has-conflict{{/if}}">
                    {{location.locationLoad}} / {{location.loadLimit}}
                  </span>
                {{/if}}
              </h2>
              <ul class="inventory-list inventory-list--gear">
                {{#if location.collection.length}}
                  {{#each location.collection as |item|}}
                    <li
                      class="inventory-list__item"
                      data-item-id="{{item.id}}"
                    >
                      {{#with (lookup ../../../carryLocationSelections item.id) as |carrySelection|}}
                        <div class="inventory-list__location-select">
                          <span class="inventory-list__location-icon" aria-hidden="true">
                            <i class="{{carrySelection.currentIcon}}"></i>
                          </span>
                          <select
                            class="inventory-list__location-select-input is-interactive"
                            data-action="changeCarryLocation"
                            data-item-type="{{item.type}}"
                            data-item-id="{{item.id}}"
                            title="{{localize 'TRISKEL.Item.CarryLocation.Label'}}"
                          >
                            {{#each carrySelection.options as |option|}}
                              <option value="{{option.id}}" {{#if option.isSelected}}selected{{/if}}>
                                {{localize option.label}}
                              </option>
                            {{/each}}
                          </select>
                        </div>
                      {{/with}}
                      <button
                        type="button"
                        class="inventory-list__toggle is-interactive {{#if item.system.active}}is-selected{{/if}}"
                        data-action="toggleActiveItem"
                        data-item-type="{{item.type}}"
                      >
                        {{#if item.system.active}}
                          <i class="fa-solid fa-check"></i>
                        {{/if}}
                      </button>
                      <span
                        class="inventory-list__item-quantity"
                        title="{{localize 'TRISKEL.Item.Field.Quantity'}}"
                      >
                        {{#if (gt item.system.quantity 1)}}&times;{{item.system.quantity}}{{/if}}
                      </span>
                      <span class="inventory-list__item-label">
                        {{#if item.img}}
                          <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                        {{else}}
                          <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                        {{/if}}
                        <span class="inventory-list__item-name">{{item.name}}</span>
                      </span>
                      <span
                        class="inventory-list__item-packload"
                        title="{{localize 'TRISKEL.Item.Field.PackLoad'}}"
                      >
                        {{#if (gt item.system.packLoad 0)}}{{item.system.packLoad}}{{/if}}
                      </span>
                      <div class="inventory-list__item-actions">
                        <button
                          type="button"
                          class="inventory-list__item-action"
                          data-action="editItem"
                          title="{{localize 'TRISKEL.Item.Inventory.Edit'}}"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button
                          type="button"
                          class="inventory-list__item-action"
                          data-action="deleteItem"
                          title="{{localize 'TRISKEL.Item.Inventory.Delete'}}"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </li>
                  {{/each}}
                {{else}}
                  <li class="inventory-list__empty">{{localize "TRISKEL.Item.Inventory.Empty"}}</li>
                {{/if}}
              </ul>
            </div>
          {{/each}}
        {{else}}
          <ul class="inventory-list inventory-list--gear">
            {{#if category.collection.length}}
              {{#each category.collection as |item|}}
                <li
                  class="inventory-list__item"
                  data-item-id="{{item.id}}"
                >
                  {{#with (lookup ../../carryLocationSelections item.id) as |carrySelection|}}
                    <div class="inventory-list__location-select">
                      <span class="inventory-list__location-icon" aria-hidden="true">
                        <i class="{{carrySelection.currentIcon}}"></i>
                      </span>
                      <select
                        class="inventory-list__location-select-input is-interactive"
                        data-action="changeCarryLocation"
                        data-item-type="{{item.type}}"
                        data-item-id="{{item.id}}"
                        title="{{localize 'TRISKEL.Item.CarryLocation.Label'}}"
                      >
                        {{#each carrySelection.options as |option|}}
                          <option value="{{option.id}}" {{#if option.isSelected}}selected{{/if}}>
                            {{localize option.label}}
                          </option>
                        {{/each}}
                      </select>
                    </div>
                  {{/with}}
                  <button
                    type="button"
                    class="inventory-list__toggle is-interactive {{#if item.system.active}}is-selected{{/if}}"
                    data-action="toggleActiveItem"
                    data-item-type="{{item.type}}"
                  >
                    {{#if item.system.active}}
                      <i class="fa-solid fa-check"></i>
                    {{/if}}
                  </button>
                  <span
                    class="inventory-list__item-quantity"
                    title="{{localize 'TRISKEL.Item.Field.Quantity'}}"
                  >
                    {{#if (gt item.system.quantity 1)}}&times;{{item.system.quantity}}{{/if}}
                  </span>
                  <span class="inventory-list__item-label">
                    {{#if item.img}}
                      <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                    {{else}}
                      <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                    {{/if}}
                    <span class="inventory-list__item-name">{{item.name}}</span>
                  </span>
                  <span
                    class="inventory-list__item-packload"
                    title="{{localize 'TRISKEL.Item.Field.PackLoad'}}"
                  >
                    {{#if (gt item.system.packLoad 0)}}{{item.system.packLoad}}{{/if}}
                  </span>
                  <div class="inventory-list__item-actions">
                    <button
                      type="button"
                      class="inventory-list__item-action"
                      data-action="editItem"
                      title="{{localize 'TRISKEL.Item.Inventory.Edit'}}"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button
                      type="button"
                      class="inventory-list__item-action"
                      data-action="deleteItem"
                      title="{{localize 'TRISKEL.Item.Inventory.Delete'}}"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </li>
              {{/each}}
            {{else}}
              <li class="inventory-list__empty">{{localize "TRISKEL.Item.Inventory.Empty"}}</li>
            {{/if}}
          </ul>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    <ul class="inventory-list">
      <li class="inventory-list__empty">{{localize "TRISKEL.Item.Inventory.Empty"}}</li>
    </ul>
  {{/if}}
</section>
