<section
  class="tab {{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if itemsToDisplay.length}}
    {{#each itemsToDisplay as |category|}}
      <div class="inventory-category {{#if category.locationBuckets.length}}inventory-category--gear-locations{{/if}}">
        {{#if category.locationBuckets.length}}
          {{#each category.locationBuckets as |location|}}
            <div
              class="inventory-location"
              style="grid-area: {{location.id}};"
              data-carry-location-id="{{location.id}}"
            >
              <h2 class="inventory-location__title">
                <span class="inventory-location__label">
                  {{localize location.label}}
                </span>
                {{#if (and (ne location.loadLimit null) (or (eq location.loadType "packLoad") (eq location.loadType "hands")))}}
                  <span class="inventory-location__load {{#if location.overburdened}}has-conflict{{/if}}">
                    {{location.locationLoad}} / {{location.loadLimit}}
                  </span>
                {{/if}}
              </h2>
              <ul class="inventory-list inventory-list--gear">
                {{#if location.collection.length}}
                  {{#each location.collection as |item|}}
                    <li
                      class="inventory-list__item draggable"
                      data-item-id="{{item.id}}"
                    >
                      <span class="inventory-list__item-quantity-group">
                        <span
                          class="inventory-list__item-quantity"
                          title="{{localize 'TRISKEL.Item.Field.Quantity'}}"
                        >
                          {{#if item.system.quantity.stack}}
                            &times;{{item.system.quantity.value}}
                          {{else if item.system.uses.limitedUse}}
                            {{item.system.uses.value}}/{{item.system.uses.max}}
                          {{/if}}
                        </span>
                        {{#if (or item.system.quantity.stack item.system.uses.limitedUse)}}
                          <span class="inventory-list__item-quantity-buttons">
                            <div
                              type="button"
                              class="inventory-list__item-action inventory-list__item-action--quantity is-interactive"
                              data-action="adjustGearValueByButton"
                              data-item-field="{{#if item.system.quantity.stack}}quantity{{else}}uses{{/if}}"
                              data-delta="-1"
                              title="{{localize 'TRISKEL.Item.Field.Quantity'}} -1"
                            >
                              <i class="fa-solid fa-minus"></i>
                            </div>
                            <div
                              type="button"
                              class="inventory-list__item-action inventory-list__item-action--quantity is-interactive"
                              data-action="adjustGearValueByButton"
                              data-item-field="{{#if item.system.quantity.stack}}quantity{{else}}uses{{/if}}"
                              data-delta="+1"
                              title="{{localize 'TRISKEL.Item.Field.Quantity'}} +1"
                            >
                              <i class="fa-solid fa-plus"></i>
                            </div>
                          </span>
                        {{/if}}
                      </span>
                      <span class="inventory-list__item-label">
                        {{#if item.img}}
                          <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                        {{else}}
                          <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                        {{/if}}
                        <span class="inventory-list__item-name">{{item.name}}</span>
                      </span>
                      <span
                        class="inventory-list__item-packload"
                        title="{{localize 'TRISKEL.Item.Field.PackLoad'}}"
                      >
                        {{#if (gt item.system.packLoad 0)}}{{item.system.packLoad}}{{/if}}
                      </span>
                      <div class="inventory-list__item-actions">
                        <button
                          type="button"
                          class="inventory-list__item-action"
                          data-action="editItem"
                          title="{{localize 'TRISKEL.Item.Inventory.Edit'}}"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button
                          type="button"
                          class="inventory-list__item-action"
                          data-action="deleteItem"
                          title="{{localize 'TRISKEL.Item.Inventory.Delete'}}"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </li>
                  {{/each}}
                  {{/if}}
              </ul>
            </div>
          {{/each}}
        {{else}}
          <ul class="inventory-list inventory-list--gear">
            {{#if category.collection.length}}
              {{#each category.collection as |item|}}
                <li
                  class="inventory-list__item draggable"
                  data-item-id="{{item.id}}"
                >
                  <span class="inventory-list__item-quantity-group">
                    <span
                      class="inventory-list__item-quantity"
                      title="{{localize 'TRISKEL.Item.Field.Quantity'}}"
                    >
                      {{#if item.system.quantity.stack}}
                        &times;{{item.system.quantity.value}}
                      {{else if item.system.uses.limitedUse}}
                        {{item.system.uses.value}}/{{item.system.uses.max}}
                      {{/if}}
                    </span>
                    {{#if (or item.system.quantity.stack item.system.uses.limitedUse)}}
                      <span class="inventory-list__item-quantity-buttons">
                        <div
                          type="button"
                          class="inventory-list__item-action inventory-list__item-action--quantity is-interactive"
                          data-action="adjustGearValueByButton"
                          data-item-field="{{#if item.system.quantity.stack}}quantity{{else}}uses{{/if}}"
                          data-delta="-1"
                          title="{{localize 'TRISKEL.Item.Field.Quantity'}} -1"
                        >
                          <i class="fa-solid fa-minus"></i>
                        </div>
                        <div
                          type="button"
                          class="inventory-list__item-action inventory-list__item-action--quantity is-interactive"
                          data-action="adjustGearValueByButton"
                          data-item-field="{{#if item.system.quantity.stack}}quantity{{else}}uses{{/if}}"
                          data-delta="+1"
                          title="{{localize 'TRISKEL.Item.Field.Quantity'}} +1"
                        >
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </span>
                    {{/if}}
                  </span>
                  <span class="inventory-list__item-label">
                    {{#if item.img}}
                      <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                    {{else}}
                      <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                    {{/if}}
                    <span class="inventory-list__item-name">{{item.name}}</span>
                  </span>
                  <span
                    class="inventory-list__item-packload"
                    title="{{localize 'TRISKEL.Item.Field.PackLoad'}}"
                  >
                    {{#if (gt item.system.packLoad 0)}}{{item.system.packLoad}}{{/if}}
                  </span>
                  <div class="inventory-list__item-actions">
                    <button
                      type="button"
                      class="inventory-list__item-action"
                      data-action="editItem"
                      title="{{localize 'TRISKEL.Item.Inventory.Edit'}}"
                    >
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button
                      type="button"
                      class="inventory-list__item-action"
                      data-action="deleteItem"
                      title="{{localize 'TRISKEL.Item.Inventory.Delete'}}"
                    >
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </li>
              {{/each}}
            {{/if}}
          </ul>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</section>
