<section class="npc-stats">
  <h2>Stat Grid</h2>
  <div class="stat-grid">
    {{#each health as |resource key|}}
      <div class="resource-bar {{key}}">
        {{#each resource._segments as |segment|}}
          <div
            class="resource-box segment-{{segment.state}}"
            {{#if segment.clickable}}
              data-action="updateResourceValue"
              data-resource="health.{{key}}"
              data-resource-value="{{segment.index}}"
            {{/if}}
          >
            {{segment.index}}
          </div>
        {{/each}}
      </div>
      <div class="resource-input">
        <div class="resource-max">
          <label class="resource-name" for="health-{{key}}-max">{{resource.label}}</label>
          <input
            id="health-{{key}}-max"
            class="resource-max-input"
            type="number"
            data-dtype="Number"
            name="system.health.{{key}}.max"
            value="{{resource.max}}"
          />
        </div>
      </div>
    {{/each}}
  </div>
</section>
