<div class="npc-core">
  <header class="sheet-header">
    <div class="profile-img">
      <img src="{{actor.img}}" data-action="editImage" data-field="img" alt="{{actor.name}}" />
    </div>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" />
      </h1>
      <div class="character-class">
        <label for="npc-class">Class</label>
        <input
          id="npc-class"
          name="system.class.label"
          type="text"
          value="{{system.class.label}}"
        />
      </div>
    </div>
  </header>

  <section class="npc-stats">
    <h2>{{localize "TRISKEL.Actor.NPC.Stats.Title"}}</h2>
    <div class="stat-grid">
      {{#each npcStats as |resource|}}
        <div class="stat-column" style="grid-area: {{resource.id}};">
          <div class="resource-bar {{resource.id}}">
            {{#each resource._segments as |segment|}}
              <div
                class="resource-box is-interactive segment-{{segment.state}}"
                data-action="updateResourceValue"
                data-resource="npcStats.{{resource.id}}"
                data-resource-value="{{segment.index}}"
              >
                {{segment.index}}
              </div>
            {{/each}}
            <div class="resource-spacer" style="flex-grow: {{resource._spacerFlex}};"></div>
          </div>
          <div class="resource-input">
            <div class="resource-max">
              <label class="resource-name" for="npcStats-{{resource.id}}-max" title="{{resource.description}}">{{resource.label}}</label>
              <input
                id="npcStats-{{resource.id}}-max"
                class="resource-max-input"
                type="number"
                data-dtype="Number"
                name="system.npcStats.{{resource.id}}.max"
                value="{{resource.max}}"
              />
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</div>
