<section class="npc-stats">
  <h2>{{localize "TRISKEL.Actor.NPC.Stats.Title"}}</h2>
  <div class="stat-grid">
    <div class="stat-column" style="grid-area: health;">
      {{#each health as |resource key|}}
        <div class="resource-bar {{key}}">
          {{#each resource._segments as |segment|}}
            <div
              class="resource-box is-interactive segment-{{segment.state}}"
              data-action="updateResourceValue"
              data-resource="health.{{key}}"
              data-resource-value="{{segment.index}}"
            >
              {{segment.index}}
            </div>
          {{/each}}
        </div>
        <div class="resource-input">
          <div class="resource-max">
            <label class="resource-name" for="health-{{key}}-max" title="{{resource.description}}">{{resource.label}}</label>
            <input
              id="health-{{key}}-max"
              class="resource-max-input"
              type="number"
              data-dtype="Number"
              name="system.health.{{key}}.max"
              value="{{resource.max}}"
            />
          </div>
        </div>
      {{/each}}
    </div>

    <div class="stat-column" style="grid-area: wounds;">
      {{#each wounds as |resource key|}}
        <div class="resource-bar {{key}}">
          {{#each resource._segments as |segment|}}
            <div
              class="resource-box is-interactive segment-{{segment.state}}"
              data-action="updateResourceValue"
              data-resource="wounds.{{key}}"
              data-resource-value="{{segment.index}}"
            >
              {{segment.index}}
            </div>
          {{/each}}
        </div>
        <div class="resource-input">
          <div class="resource-max">
            <label class="resource-name" for="wounds-{{key}}-max" title="{{resource.description}}">{{resource.label}}</label>
            <input
              id="wounds-{{key}}-max"
              class="resource-max-input"
              type="number"
              data-dtype="Number"
              name="system.wounds.{{key}}.max"
              value="{{resource.max}}"
            />
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
