<section class="paths">
  <h2>Paths</h2>
  <div class="paths-grid">
    {{#with (lookup paths "virtue") as |virtue|}}
      {{#if virtue}}
        <div class="path-bar virtue">
          <div class="path-label" title="{{virtue.description}}">{{virtue.label}}</div>
          <div class="path-segments">
            {{#each virtue._segments as |segment|}}
              <div
                class="resource-box is-interactive segment-{{segment.state}}"
                {{#if segment.clickable}}
                  data-action="updateResourceValue"
                  data-resource="paths.virtue"
                  data-resource-value="{{segment.index}}"
                {{/if}}
              >
                {{segment.index}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/with}}

    {{#with (lookup paths "vice") as |vice|}}
      {{#if vice}}
        <div class="path-bar vice">
          <div class="path-label" title="{{vice.description}}">{{vice.label}}</div>
          <div class="path-segments">
            {{#each vice._segments as |segment|}}
              <div
                class="resource-box is-interactive segment-{{segment.state}}"
                {{#if segment.clickable}}
                  data-action="updateResourceValue"
                  data-resource="paths.vice"
                  data-resource-value="{{segment.index}}"
                {{/if}}
              >
                {{segment.index}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/with}}

    <div class="tension-card">
      <label class="path-label" for="tension-value">{{localize "TRISKEL.Actor.Tension.Label"}}</label>
      <input
        id="tension-value"
        class="tension-input"
        type="number"
        min="{{system.tension.min}}"
        data-dtype="Number"
        name="system.tension.value"
        value="{{system.tension.value}}"
      />
    </div>

    {{#with (lookup paths "ward") as |ward|}}
      {{#if ward}}
        <div class="path-bar ward">
          <div class="path-label" title="{{ward.description}}">{{ward.label}}</div>
          <div class="path-segments">
            {{#each ward._segments as |segment|}}
              <div
                class="resource-box is-interactive segment-{{segment.state}}"
                {{#if segment.clickable}}
                  data-action="updateResourceValue"
                  data-resource="paths.ward"
                  data-resource-value="{{segment.index}}"
                {{/if}}
              >
                {{segment.index}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/with}}

    {{#with (lookup paths "ruin") as |ruin|}}
      {{#if ruin}}
        <div class="path-bar ruin">
          <div class="path-label" title="{{ruin.description}}">{{ruin.label}}</div>
          <div class="path-segments">
            {{#each ruin._segments as |segment|}}
              <div
                class="resource-box is-interactive segment-{{segment.state}}"
                {{#if segment.clickable}}
                  data-action="updateResourceValue"
                  data-resource="paths.ruin"
                  data-resource-value="{{segment.index}}"
                {{/if}}
              >
                {{segment.index}}
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/with}}
  </div>
</section>
