<section class="paths">
  <h2>Paths</h2>
  <div class="paths-grid">
    {{#each paths as |path|}}
      <div class="path-bar {{path.id}}">
        <div class="path-label" title="{{path.description}}">{{path.label}}</div>
        <div class="path-segments">
          {{#each path._segments as |segment|}}
            <div
              class="resource-box is-interactive segment-{{segment.state}}"
              {{#if segment.clickable}}
                data-action="updateResourceValue"
                data-resource="paths.{{path.id}}"
                data-resource-value="{{segment.index}}"
              {{/if}}
            >
              {{segment.index}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</section>
