<section
  class="tab {{tabs.actions.id}} {{tabs.actions.cssClass}}"
  data-tab="{{tabs.actions.id}}"
  data-group="{{tabs.actions.group}}"
>
  <div class="actions-grid">
    {{#each standardActions as |action|}}
      <label
        class="action-card is-interactive {{action.reserve}} {{#if action.selected}}is-selected{{/if}}"
        data-action-key="{{action.key}}"
      >
        <input
          type="radio"
          name="action-selection"
          class="action-card__radio"
          data-action="selectAction"
          data-action-key="{{action.key}}"
          {{#if action.selected}}checked{{/if}}
        />

        <div class="action-card__content">
          <header class="action-card__header">
            <h3 class="action-card__title">{{action.label}}</h3>
          </header>

          <dl class="action-card__meta">
            <div class="action-card__row" title="{{action.description}}">
              <dt>{{action.reserveLabel}}</dt>
              <dd>
                <span class="action-card__skill">{{action.skillLabel}}</span>
                <span class="action-card__bonus">{{numberFormat action.skillValue decimals=0 sign=true}}</span>
              </dd>
            </div>
          </dl>

          {{#if action.forms.length}}
            <ul class="action-card__forms">
              {{#each action.forms as |form|}}
                <li>
                  <button
                    type="button"
                    class="action-card__form is-interactive {{action.reserve}} {{#if form.active}}is-selected{{/if}}"
                    data-action="toggleFormSelection"
                    data-action-key="{{action.key}}"
                    data-form-key="{{form.key}}"
                    title="{{form.description}}"
                  >
                    {{form.label}}
                  </button>
                </li>
              {{/each}}
            </ul>
          {{/if}}

          {{#if action.description}}
            <p class="action-card__description">{{action.description}}</p>
          {{/if}}
        </div>
      </label>
    {{/each}}
  </div>
</section>
