<section class="sheet-notes">
  <h2>Notes</h2>

  {{#if editable}}
    <prose-mirror
      name="system.details.notes"
      button="true"
      editable="{{editable}}"
      toggled="false"
      value="{{system.details.notes}}"
    >
      {{{notesHTML}}}
    </prose-mirror>
  {{else}}
    {{{notesHTML}}}
  {{/if}}
</section>
