<form class="triskel" autocomplete="off">
  {{{parts.info}}}
  {{{parts.roller}}}
  {{{parts.reserves}}}
  {{{parts.paths}}}

  <section class="sheet-tabs">
    {{{parts.tabs}}}
    {{{parts.actions}}}
    {{{parts.skills}}}
    {{{parts.notes}}}
  </section>
</form>
