<section
  class="tab {{tabs.actions.id}} {{tabs.actions.cssClass}}"
  data-tab="{{tabs.actions.id}}"
  data-group="{{tabs.actions.group}}"
>
  {{#*inline "actionCards"}}
    <div class="actions-grid">
      {{#each this as |action|}}
        <div
          class="action-card {{action.reserve}} is-interactive {{#if action.isSelected}}is-selected{{/if}}"
          data-action="selectAction"
          data-action-key="{{action.key}}"
        >
          <div class="action-card__content">
            <header class="action-card__header">
              {{#if action.image}}
                <img class="action-card__icon" src="{{action.image}}" alt="" />
              {{/if}}
              <h3 class="action-card__title">{{action.label}}</h3>
            </header>

            <dl class="action-card__meta">
              <div class="action-card__row" title="{{action.description}}">
                <dt>{{action.reserveLabel}}</dt>
                <dd>
                  <span class="action-card__skill">{{action.skillLabel}}</span>
                  <span class="action-card__bonus">{{numberFormat action.skillTotal decimals=0 sign=true}}</span>
                </dd>
              </div>
            </dl>

            {{#if action.forms.length}}
              <ul class="action-card__forms">
                {{#each action.forms as |form|}}
                  <li>
                    <div
                      class="action-card__form {{form.reserve}} is-interactive {{#if form.active}}is-selected{{/if}}"
                      title="{{form.description}}"
                      data-action="toggleForm"
                      data-form-key="{{form.key}}"
                    >
                      {{#if form.image}}
                        <img class="action-card__form-icon" src="{{form.image}}" alt="" />
                      {{/if}}
                      <span class="action-card__form-label">{{form.label}}</span>
                      {{#if form.cost}}
                        <span class="action-card__form-cost">{{numberFormat form.cost decimals=0}}</span>
                      {{/if}}
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

            {{#if action.description}}
              <p class="action-card__description">{{action.description}}</p>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/inline}}

  {{#if system.actions.actions.length}}
    <header class="actions-grid__header">
      <h3 class="actions-grid__title">{{localize "TRISKEL.Tabs.Actions.Label"}}</h3>
    </header>
    {{> actionCards system.actions.actions}}
  {{/if}}

  {{#if system.actions.spells.length}}
    <header class="actions-grid__header">
      <h3 class="actions-grid__title">{{localize "TRISKEL.ItemTypes.Spell"}}</h3>
    </header>
    {{> actionCards system.actions.spells}}
  {{/if}}
</section>
