<section
  class="tab {{tabs.notes.id}} {{tabs.notes.cssClass}}"
  data-tab="{{tabs.notes.id}}"
  data-group="{{tabs.notes.group}}"
>
  {{#if editable}}
    <prose-mirror
      name="system.details.notes"
      button="true"
      editable="{{editable}}"
      toggled="false"
      value="{{system.details.notes}}"
    >
      {{{notesHTML}}}
    </prose-mirror>
  {{else}}
    {{{notesHTML}}}
  {{/if}}
</section>
