<section class="player-character-info">
  <h1 class="info-field charname">
    <input name="name" type="text" value="{{actor.name}}" />
  </h1>

  <img
    class="profile-img"
    src="{{actor.img}}"
    data-action="editImage"
    data-field="img"
    alt="{{actor.name}}"
  />

  <label class="info-field character-full-name" for="character-full-name">
    <span>Full Name and Title</span>
    <input
      id="character-full-name"
      name="system.details.fullNameAndTitle"
      type="text"
      value="{{system.details.fullNameAndTitle}}"
    />
  </label>

  <label class="info-field character-class" for="character-class">
    <span>Class</span>
    <input
      id="character-class"
      name="system.class.label"
      type="text"
      value="{{system.class.label}}"
    />
  </label>

  <div class="info-field tier-info">
    <label for="tier-value">Tier</label>
    <input
      id="tier-value"
      name="system.tier.value"
      type="number"
      min="1"
      max="6"
      value="{{system.tier.value}}"
    />
    <span class="tier-label">{{tierLabel}}</span>
  </div>
</section>
