<section
  class="tab {{tabs.inventory.id}} {{tabs.inventory.cssClass}}"
  data-tab="{{tabs.inventory.id}}"
  data-group="{{tabs.inventory.group}}"
>
  {{#if itemsByType.length}}
    {{#each itemsByType as |category|}}
      <div class="inventory-category">
        <h3 class="inventory-category__title">{{category.label}}</h3>
        <ul class="inventory-list">
          {{#if category.items.length}}
            {{#each category.items as |item|}}
              <li
                class="inventory-list__item"
                data-item-id="{{item.id}}"
              >
                {{#if category.toggleAction}}
                  <button
                    type="button"
                    class="inventory-list__toggle is-interactive {{#if item.isEquipToggleActive}}is-selected{{/if}}"
                    data-action="{{category.toggleAction}}"
                    title="{{category.toggleTitle}}"
                  >
                    <i class="fa-solid fa-check"></i>
                  </button>
                {{/if}}
                {{#if item.img}}
                  <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                {{else}}
                  <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                {{/if}}
                <span class="inventory-list__item-name">{{item.name}}</span>
                {{#if item.typeLabel}}
                  <span class="inventory-list__item-type">{{item.typeLabel}}</span>
                {{/if}}
                <div class="inventory-list__item-actions">
                  <button
                    type="button"
                    class="inventory-list__item-action"
                    data-action="editItem"
                    title="{{localize 'TRISKEL.Items.Edit'}}"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    type="button"
                    class="inventory-list__item-action"
                    data-action="deleteItem"
                    title="{{localize 'TRISKEL.Items.Delete'}}"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </li>
            {{/each}}
          {{else}}
            <li class="inventory-list__empty">{{localize "TRISKEL.Items.Empty"}}</li>
          {{/if}}
        </ul>
      </div>
    {{/each}}
  {{else}}
    <ul class="inventory-list">
      <li class="inventory-list__empty">{{localize "TRISKEL.Items.Empty"}}</li>
    </ul>
  {{/if}}
</section>
