<section class="player-character-info">
  <h1 class="info-field charname">
    <input name="name" type="text" value="{{actor.name}}" />
  </h1>

  <img
    class="profile-img"
    src="{{actor.img}}"
    data-action="editImage"
    data-field="img"
    alt="{{actor.name}}"
  />

  <div class="info-field character-full-name">
    <input
      id="character-full-name"
      name="system.details.fullNameAndTitle"
      type="text"
      value="{{system.details.fullNameAndTitle}}"
      placeholder="Full Name and Title"
    />
  </div>

  <div class="info-field character-class">
    <input
      id="character-class"
      name="system.class.label"
      type="text"
      value="{{system.class.label}}"
      placeholder="Class"
    />
  </div>

  <div class="info-field tier-info">
    <label for="tier-value">{{localize "TRISKEL.Actor.Tier.Label"}}</label>
    <input
      id="tier-value"
      name="system.tier.value"
      type="number"
      min="1"
      max="6"
      value="{{system.tier.value}}"
    />
    <span class="tier-label">{{tierLabel}}</span>
  </div>
</section>
