<section class="reserves">
  <h2>Reserves</h2>
  <div class="reserve-grid">
    {{#each reserves as |reserve key|}}
      <div class="resource-bar {{key}}">
        {{#each reserve._segments as |segment|}}
          <div
            class="resource-box segment-{{segment.state}}"
            {{#if segment.clickable}}
              data-action="updateResourceValue"
              data-resource="reserves.{{key}}"
              data-resource-value="{{segment.index}}"
            {{/if}}
          >
            {{segment.index}}
          </div>
        {{/each}}
      </div>
      <article class="resource-input" data-reserve="{{key}}">
        <header>
          <h3 class="reserve-name">{{key}}</h3>
        </header>
        <div class="reserve-max">
          <span>Maximum</span>
          <input
            type="number"
            data-dtype="Number"
            name="system.reserves.{{key}}.max"
            value="{{reserve.max}}"
          />
        </div>
        <footer class="reserve-strain">
          <span>Strains</span>
          <ul class="strain-track">
            {{#each reserve.strain as |ischecked strainKey|}}
              <li>
                <label class="strain-step">
                  <input
                    type="checkbox"
                    name="system.reserves.{{key}}.strain.{{strainKey}}"
                    {{checked ischecked}}
                  />
                  <span>{{strainKey}}</span>
                </label>
              </li>
            {{/each}}
          </ul>
        </footer>
      </article>
    {{/each}}
    {{#if tension._segments}}
      <div class="resource-bar tension">
        {{#each tension._segments as |segment|}}
          <div
            class="resource-box segment-{{segment.state}}"
            {{#if segment.clickable}}
              data-action="updateResourceValue"
              data-resource="tension"
              data-resource-value="{{segment.index}}"
            {{/if}}
          >
            {{segment.index}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</section>
