<section class="reserves">
  <h2>Reserves</h2>
  <div class="reserve-grid">
    {{#each reserves as |reserve key|}}
      <article class="reserve" data-reserve="{{key}}">
        <header>
          <h3 class="reserve-name">{{key}}</h3>
        </header>
        <div class="reserve-fields">
          <label>
            <span>Minimum</span>
            <input
              type="number"
              data-dtype="Number"
              value="{{reserve.min}}"
              readonly
            />
          </label>
          <label>
            <span>Current</span>
            <input
              type="number"
              data-dtype="Number"
              name="system.reserves.{{key}}.value"
              value="{{reserve.value}}"
            />
          </label>
          <label>
            <span>Maximum</span>
            <input
              type="number"
              data-dtype="Number"
              name="system.reserves.{{key}}.max"
              value="{{reserve.max}}"
            />
          </label>
        </div>
        <footer class="reserve-strain">
          <span>Strains</span>
          <div class="strain-track">
            {{#each reserve.strain as |ischecked strainKey|}}
              <label class="strain-step">
                <input
                  type="checkbox"
                  name="system.reserves.{{key}}.strain.{{strainKey}}"
                  {{checked ischecked}}
                />
                <span>{{strainKey}}</span>
              </label>
            {{/each}}
          </div>
        </footer>
      </article>
    {{/each}}
  </div>
</section>
