<section class="roll-helper" {{#unless rollHelper.hasSelection}}hidden{{/unless}}>
  <div class="roll-helper__bar">
    <div class="roll-helper__selection-row">
      <div
        class="roll-helper__entry roll-helper__action is-interactive {{#if rollHelper.hasSelection}}is-selected{{/if}} {{rollHelper.action.reserve}}"
        data-action="selectAction"
        data-action-key="{{rollHelper.action.id}}"
        data-reserve="{{rollHelper.action.reserve}}"
      >
        {{#if rollHelper.hasSelection}}
          {{#if rollHelper.action.icon}}
            <i class="roll-helper__entry-icon roll-helper__entry-icon--fa {{rollHelper.action.icon}}" aria-hidden="true"></i>
          {{else if rollHelper.action.image}}
            <img class="roll-helper__entry-icon roll-helper__entry-icon--image" src="{{rollHelper.action.image}}" alt="" />
          {{/if}}

          <div class="roll-helper__entry-label">{{rollHelper.action.label}}</div>

          {{#if rollHelper.action.reserveLabel}}
            <div class="roll-helper__entry-reserve">{{rollHelper.action.reserveLabel}}</div>
          {{else}}
            {{#if rollHelper.action.reserve}}
              <div class="roll-helper__entry-reserve">{{rollHelper.action.reserve}}</div>
            {{/if}}
          {{/if}}

          {{#if rollHelper.action.skillLabel}}
            <div class="roll-helper__entry-skill">{{rollHelper.action.skillLabel}}</div>
            <div class="roll-helper__entry-bonus">{{numberFormat rollHelper.action.skillTotal decimals=0 sign=true}}</div>
          {{/if}}

          {{#if rollHelper.action.cost}}
            <div class="roll-helper__entry-cost">
              {{numberFormat rollHelper.action.cost decimals=0}}
            </div>
          {{/if}}

          {{#if rollHelper.action.description}}
            <div class="roll-helper__entry-description">{{rollHelper.action.description}}</div>
          {{/if}}
        {{else}}
          <div class="roll-helper__entry-label">{{localize "TRISKEL.Actor.RollHelper.NoActionSelected"}}</div>
        {{/if}}
      </div>

      {{#if rollHelper.hasSelection}}
        {{#if rollHelper.action.forms.length}}
          {{#each rollHelper.action.forms as |form|}}
            <div
              class="roll-helper__entry roll-helper__form is-interactive {{form.reserve}} {{#if form.active}}is-selected{{/if}}"
              data-action="toggleForm"
              data-form-key="{{form.id}}"
              title="{{form.description}}"
              data-reserve="{{form.reserve}}"
            >
              {{#if form.icon}}
                <i class="roll-helper__entry-icon roll-helper__entry-icon--fa {{form.icon}}" aria-hidden="true"></i>
              {{else if form.image}}
                <img class="roll-helper__entry-icon roll-helper__entry-icon--image" src="{{form.image}}" alt="" />
              {{/if}}

              <div class="roll-helper__entry-label">{{form.label}}</div>

              {{#if form.reserveLabel}}
                <div class="roll-helper__entry-reserve">{{form.reserveLabel}}</div>
              {{else}}
                {{#if form.reserve}}
                  <div class="roll-helper__entry-reserve">{{form.reserve}}</div>
                {{/if}}
              {{/if}}

              {{#if (ne form.modifier.skill 0)}}
                <div class="roll-helper__entry-skill">{{localize "TRISKEL.Actor.RollHelper.SkillBonus"}}</div>
                <div class="roll-helper__entry-bonus">{{numberFormat form.modifier.skill decimals=0 sign=true}}</div>
              {{/if}}

              {{#if form.cost}}
                <div class="roll-helper__entry-cost">{{numberFormat form.cost decimals=0}}</div>
              {{/if}}

              {{#if form.description}}
                <div class="roll-helper__entry-description">{{form.description}}</div>
              {{/if}}
            </div>
          {{/each}}
        {{/if}}

        {{#if rollHelper.action.reserve}}
          {{#if commit}}
            <div class="roll-helper__commit {{rollHelper.action.reserve}}">
              {{#each commit._segments as |segment|}}
                <div
                  class="resource-box is-interactive segment-{{segment.state}}"
                  data-action="updateResourceValue"
                  data-resource="actions.commit"
                  data-resource-value="{{segment.index}}"
                >
                  {{segment.index}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>

    {{#if rollHelper.hasSelection}}
      {{#if rollHelper.action.roll.active}}
        <div class="roll-helper__situational">
          <label class="roll-helper__situational-label" for="roll-helper-situational-modifier">
            {{localize "TRISKEL.Actor.RollHelper.SituationalModifier"}}
          </label>
          <input
            id="roll-helper-situational-modifier"
            class="roll-helper__situational-input"
            type="number"
            data-dtype="Number"
            name="system.actions.selectedAction.situationalModifier"
            value="{{rollHelper.action.situationalModifier}}"
          />
        </div>
      {{/if}}
    {{/if}}

    {{#if rollHelperSummary}}
      <div class="roll-helper__summary-row">
        <div class="roll-helper__summary-entry">
          <div class="roll-helper__summary-label">{{localize "TRISKEL.Actor.RollHelper.TotalBonus"}}</div>
          <div class="roll-helper__summary-value">{{numberFormat rollHelperSummary.totalSkillBonus decimals=0 sign=true}}</div>
          <button
            type="button"
            class="roll-helper__summary-roll is-interactive"
            data-action="rollHelper"
            {{#unless rollHelperSummary.canAfford}}disabled{{/unless}}
          >
            <i class="fa-solid fa-dice-d20" aria-hidden="true"></i>
            <span>{{localize "TRISKEL.Actor.RollHelper.Roll"}}</span>
          </button>
        </div>

        {{#if rollHelperSummary.reserveCosts.length}}
          <div class="roll-helper__summary-reserves">
            {{#each rollHelperSummary.reserveCosts as |reserve|}}
              <div class="roll-helper__summary-entry {{reserve.id}}">
                <div class="roll-helper__summary-label">{{reserve.label}}</div>
                <div class="roll-helper__summary-value">{{numberFormat reserve.total decimals=0}}</div>
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</section>
