<section
  class="tab {{tabs.skills.id}} {{tabs.skills.cssClass}}"
  data-tab="{{tabs.skills.id}}"
  data-group="{{tabs.skills.group}}"
>
  <h2>{{localize "TRISKEL.Actor.Skill.Label"}}</h2>
  <div class="skill-grid">
    {{#each skillCategories as |category|}}
      <div class="skill-category" style="grid-area:{{category.id}};">
        <h3>{{category.title}}</h3>
        <ul>
          {{#each category.skills as |skill|}}
            <li class="skill-field" title="{{skill.description}}">
              <span class="skill-label">{{skill.label}}</span>
              {{#if skill.mod}}
                <span class="skill-mod" title="{{localize "TRISKEL.Actor.Skill.ModLabel"}}">
                  {{numberFormat skill.mod decimals=0 sign=true}}
                </span>
              {{/if}}
              <input
                type="number"
                data-dtype="Number"
                name="system.skills.{{skill.id}}.value"
                value="{{skill.value}}"
              />
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</section>
