<section
  class="tab {{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  {{#if itemsToDisplay.length}}
    {{#each itemsToDisplay as |category|}}
      <div class="inventory-category">
        <h2 class="inventory-category__title">{{category.labelPlural}}</h2>
        <ul class="inventory-list">
          {{#if category.collection.length}}
            {{#each category.collection as |item|}}
              <li
                class="inventory-list__item"
                data-item-id="{{item.id}}"
              >
                <button
                  type="button"
                  class="inventory-list__toggle is-interactive {{#if item.system.active}}is-selected{{/if}}"
                  data-action="toggleActiveItem"
                  data-item-type="{{item.type}}"
                >
                  {{#if item.system.active}}
                    <i class="fa-solid fa-check"></i>
                  {{/if}}
                </button>
                {{#if item.img}}
                  <img class="inventory-list__item-image" src="{{item.img}}" alt="" />
                {{else}}
                  <span class="inventory-list__item-image inventory-list__item-image--placeholder"></span>
                {{/if}}
                <span class="inventory-list__item-name">{{item.name}}</span>
                <div class="inventory-list__item-actions">
                  <button
                    type="button"
                    class="inventory-list__item-action"
                    data-action="editItem"
                    title="{{localize 'TRISKEL.Item.Inventory.Edit'}}"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button
                    type="button"
                    class="inventory-list__item-action"
                    data-action="deleteItem"
                    title="{{localize 'TRISKEL.Item.Inventory.Delete'}}"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
    {{/each}}
  {{/if}}
</section>
