<section class="triskel chat-output">
  {{#if hasActor}}
    <div class="chat-output__row chat-output__actor">
      {{#if actorImage}}
        <div class="chat-output__actor-image">
          <img src="{{actorImage}}" alt="{{actorName}}">
        </div>
      {{/if}}
      <div class="chat-output__actor-name">{{actorName}}</div>
    </div>
  {{/if}}

  {{#if hasHeader}}
    <div class="chat-output__row chat-output__header">
      {{#if image}}
        <div class="chat-output__image">
          <img src="{{image}}" alt="{{title}}">
        </div>
      {{/if}}
      <div class="chat-output__titles">
        {{#if title}}
          <h2 class="chat-output__title">{{title}}</h2>
        {{/if}}
        {{#if subtitle}}
          <p class="chat-output__subtitle">{{subtitle}}</p>
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if complication}}
    <div class="chat-output__row chat-output__complication complication-roll__card complication-tone {{complicationTone}}">
      {{complication}}
    </div>
  {{/if}}

  {{#if action}}
    <div class="chat-output__row chat-output__action">{{{action}}}</div>
  {{/if}}

  {{#if hasRoll}}
    <div class="chat-output__row chat-output__roll">{{{roll}}}</div>
  {{/if}}

  {{#if footer}}
    <div class="chat-output__row chat-output__footer">{{{footer}}}</div>
  {{/if}}
</section>
